@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Maven+Pro&display=swap');
html{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'lato', sans-serif;
}
li{
    list-style: none;
}
a, a:hover{
    text-decoration: none;
    color: inherit;
}
header{
    position: relative;
    background: #323232;
    height: 63px;
    font-size: 10px;
}
header:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -26px;
    /*из генератора*/
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 45px 0 45px;
    border-color: #323232 transparent transparent transparent;
}
.menu .menu-list{
    text-align: center;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    list-style: none;
    letter-spacing: -0.1px;
}
.menu .logo {
    position: relative;
    top: 30px;
    left: 1px;
    padding: 5px;
}
.menu .menu-list .menu-list-item{
    display: inline-block;
    margin: -25px 11px;
}
.menu .menu-list .menu-list-item:nth-child(-n+2){

    padding: 1px;
}
.menu .menu-list .menu-list-item:last-child{
    padding: 0 0 0 0;
}
.menu-list-item .active{
    color: #2eb398;
}
#hexagon{
    padding: 80px 0 78px 0 ;
}
.hexagon{
    width: 180px;
    height: 207px;
    overflow: hidden;
    transform: rotate(120deg);
    margin: 10px;
}
.hex-layer{
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}
.hax-layer1{
    width: 100%;
    height: 100%;
    background: url("../images/layer-40.png") no-repeat center;
    background-size: cover;
    transform: rotate(-60deg);
    transition: 0.4s;
    position: relative;
}
.hax-layer1:hover {
    filter: brightness(40%);
}
.hex-container{
    max-width: 1020px;
    margin: 0 auto;
}
.hex-row{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.hex-row.even{
    margin: -60px 0;
}
#about{
    background: #2eb398;
    padding: 69px 0 65px 0;
    color: #d7fcf5;
    border-left: 1px solid #219d84;
}
.container{
    max-width: 820px;
    margin: 0 auto;
    padding: 0 20px;
}
.about{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.about-content{
    text-align: justify;
    font-weight: 400;
}
.about-content-title{
    font-family: 'Maven+Pro', sans-serif;
    font-size: 3rem;
}
.about-content-subtitle{
    font-family: 'Maven+Pro', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: #20816d;
    padding: 8px 0 14px;
    display: inline-block;

}
.about-content-text{
    font-family: 'lato', sans-serif;
    font-size: 12px;
    line-height: 2em;
}
.social {
    display: flex;
    justify-content: flex-end;
    margin: 10px -1px;
    z-index: 1;
    position: relative;
}
.social-box {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #a4dbd4;
    font-size: 12px;
    padding-left: 2px;
}
.social-box.fb{
    background: #a5dbd4;
}
.social-box.fb:hover{
    background-color: #3b5998;
    color: #f8f8f8;
}
.social-box.tw{
    background: #6dcbbe;
}
.social-box.tw:hover{
    background-color: #00acee;
    color: #f8f8f8;
}
.social-box.gp{
    background: #7fd0c5;
}
.social-box.gp:hover{
    background-color: #d34836;
    color: #f8f8f8;
}
.social-box.pin{
    background: #acddd7;
}
.social-box.pin:hover{
    background-color: #c8232c;
    color: #f8f8f8;
}
.social-box.lin{
    background: #acddd7;
}
.social-box.lin:hover{
    background-color: #0e76a8;
    color: #f8f8f8;
}
.social-box.dr{
    background: #6dcbbe;
}
.social-box.dr:hover{
    background-color: #ea4c89;
    color: #f8f8f8;
}
#contacts{
    background: #323232;
    padding: 67px 20px 118px;
}
.focus{
    outline: none;
}
.contacts-title{
    font-family: 'Maven+Pro', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #e0e0e0;
    margin-bottom: 9px;
}
.contacts-subtitle{
    font-family: 'Maven+Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
    color: #999999;
}
.contacts{
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: #bebebe;
}
.contacts-forms{
    margin-right: 20px;
}
.contacts-forms input {
    width: 100%;
    height: 38px;
    background: #454545;
    padding: 0 15px;
    border: none;
    margin-bottom: 15px;
    transition: 2s;
    color: #e4e9eb;
}
.contacts-forms input:hover{
    border: 2px solid #e4e9eb;
}
.textarea {
    width: 100%;
    height: 150px;
    padding: 0 15px;
    background: #454545;
    border: none;
    transition: 2s;
    color: #e4e9eb;
}
.textarea:hover{
    border: 1px solid #e4e9eb;
}
.contact-btn{
    width: 90px;
    height: 37px;
    color: #FFFFFF;
    background: #2eb398;
}
.contacts-box{
    margin-top: 45px;
}
.contacts-info {
    text-align: justify;
    line-height: 2;
    font-size: 12px;
}
.contact-text strong{
    color: #e0e0e0;
}
[class^="icon-"]:before, [class*=" icon-"]:before{
    color: #2eb398;
    margin-right: 12px;
}
.send-btn{
    display: flex;
    justify-content: flex-end;
}
.btn {
    width: 90px;
    height: 37px;
    color: #FFFFFF;
    background: #2eb398;
    border: none;
    margin-top: 16px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.70);
}
#footer {
    width: 100%;
    height: 43px;
    background: #222222;
    display: flex;
    align-items: center;
    color: #434343;
    padding-left: 75px;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>befor-after, line<<<<<<<<<<<<<<<<*/
main{
    position: relative;
}
main:before{
    content: '';
    width: 43%;
    border-top: 1px solid #e4e9eb;
    position: absolute;
    top: 11px;
    margin-left: 33px;
}
main:after{
    content: '';
    width: 43%;
    border-top: 1px solid #e4e9eb;
    position: absolute;
    top: 11px;
    right: 0;
    margin-right: 33px;
}
.hex-line1{
    position: relative;
}
.hex-line1:before{
    content: '';
    height: 45%;
    border-right: 2px solid #e4e9eb;
    position: absolute;
    top: 62px;
    left: 93px;
}
.hex-line1:after {
    content: '';
    width: 100%;
    height: 45%;
    border-right: 2px solid #e4e9eb;
    position: absolute;
    top: 62px;
    left: -100px;
}
.about-line{
    position: relative;
}
.about-line:before{
    content: '';
    width: 100%;
    height: 100%;
    border-right: 2px solid #219d84;
    position: absolute;
    right: -20px;

}
.about-line:after {
    content: '';
    width: 100%;
    height: 100%;
    border-left: 2px solid #219d84;
    position: absolute;
    left: -20px;
    top: 0;
}
.line-bottom{
    position: relative;
}
.line-bottom:before{
    content: '';
    width: 100%;
    border-bottom: 1px solid #e4e9eb;
    position: absolute;
    bottom: -50px;
    right: 0;
}
.contacts-line{
    position: relative;
}
.contacts-line:before {
    content: '';
    width: 155%;
    border-top: 1px solid #2b2b2b;
    position: absolute;
    top: -49px;
    right: -225px;
}
.contacts-line:after {
    content: '';
    width: 155%;
    border-top: 1px solid #2b2b2b;
    position: absolute;
    bottom: -100px;
    right: -225px;
}

